<div class="flex">
    <div class="flex__item">
        <a href="#" class="text link link--solid">
        <!--[if lt IE 10]><a href="" class="text ie-link"><![endif]-->
            Solid line hyperlink
        </a>
    </div>
    <div class="flex__item">
        <a href="#" class="text link link--dashed">
            <!--[if lt IE 10]><a href="" class="text ie-link"><![endif]-->
            Dashed line hyperlink
        </a>
    </div>
</div>
<a href="#" class="text link link--solid">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed urna sed neque blandit gravida vitae bibendum dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed urna sed neque.</a>