<div class="main">
    <div class="main__h1">UI Style Guide</div>
    <div class="main__section">
        <include src="main__header.html" header="01. Headers"></include>
        <include src="h1-h6.html"></include>
    </div>
    <div class="main__section">
        <include src="main__header.html" header="02. Body text"></include>
        <include src="text.html"></include>
    </div>
    <div class="main__section">
        <include src="main__header.html" header="03. Hyperlinks"></include>
        <include src="link.html"></include>
    </div>
    <div class="main__section">
        <include src="main__header.html" header="04. Ordered and unordered lists"></include>
        <div class="flex">
            <div class="flex__item">
                <include src="ollist.html"></include>
            </div>
            <div class="flex__item">
                <include src="ullist.html"></include>
            </div>
        </div>
    </div>
    <div class="main__section">
        <include src="main__header.html" header="05. Buttons"></include>
        <div class="flex flex--col">
            <div class="flex__item">
                <include src="b-button.html"></include>
            </div>
            <div class="flex__item">
                <include src="a-button.html"></include>
            </div>
        </div>
    </div>
    <div class="main__section">
        <include src="main__header.html" header="06. Form elements"></include>
        <include src="form.html"></include>
    </div>
    <div class="main__section">
        <include src="main__header.html" header="07. UI elements"></include>
        <include src="breadcrumbs.html"></include>
        <include src="pagination.html"></include>
    </div>
</div>