<ol class="ollist">
    <li class="li text">Ordered list</li>
    <li class="li text">Ordered list</li>
    <li class="li text">Ordered list</li>
    <li class="li text">Ordered list</li>
    <li class="li text">Ordered list</li>
    <li class="li text">Ordered list</li>
    <li class="li text">Ordered list</li>
    <li class="li text">Ordered list</li>
    <li class="li text">Ordered list</li>
    <li class="li text">Ordered list</li>
    <li class="li text">Ordered list</li>
    <li class="li text">Ordered list</li>
</ol>