<div class="pagination">
    <a href="" class="pagination__item pagination__text" data-pagination="prev">Previous</a>
    <a href="" class="pagination__item">1</a>
    <a href="" class="pagination__item">2</a>
    <a href="" class="pagination__item">3</a>
    <a href="" class="pagination__item pagination__item--active">4</a>
    <a href="" class="pagination__item">5</a>
    <a href="" class="pagination__item">6</a>
    <a href="" class="pagination__item">7</a>
    <a href="" class="pagination__item pagination__text" data-pagination="next">Next</a>
</div>