.ollist {
    counter-reset: list;
    padding-left: 3.5em;

    & li {
        position: relative;
        left: 0;

        &::before {
            width: 4em;
            counter-increment: list;
            content: counter(list) '.';
            position: absolute;
            top: 0px;
            left: -4.5em;
            color: var(--blue-color-dark);
            text-align: right;
        }
    }
}